{% extends 'base.html' %}

{% block title %}
Station
{% endblock title %}

{% block body %}

<div class="container mt-3">
    <div class="row">

        <div class="col-md-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/imgs/police_station.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Station</h5>
                  <p class="card-text">Station Registration</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Do You Know</li>
                 <li class="list-group-item">There are 12,809 police stations in the country</li>
                </ul>  
                <div class="card-body">
                  <a href="#" class="card-link">Contact Us</a>
                  <a href="#" class="card-link">About Us</a>
                </div>
              </div>
        </div>
        <div class="col-md-5">

            <h4 class="text-center bg-primary text-white">Station Registration</h4>
<br>
{% with  messages=get_flashed_messages(with_categories=true)  %}
{% if messages %}
{% for category,message in messages  %}

<div class="alert alert-{{category}} alert-dismissible fade show"
role="alert">
     {{message}}
  
  <button type="button" class="close" data-dismiss="alert"
  aria-Label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>

{% endfor %}
{% endif %}
{% endwith %}


            <form action="/station" method="post" class="jumbotron">

                <div class="form-group">
              
                    <input type="number" class="form-control" id="stat_id"  name="stat_id"  placeholder="Id "required>
                  
                  </div>

                
              
                <div class="form-group">
                
                  <input type="text" class="form-control" id="Stat_name" name="name" placeholder="Station Name" required>
                
                </div>
              
               <div class="form-group">
              
            
            
              
                <div class="form-group">
              
                  <input type="number" class="form-control" id="stat_phno" name="number" placeholder="Phone Number" required>
                
                </div>

                <div class="form-group">
              
                    <input type="text" class="form-control" id="stat_city" name="addr" placeholder="Station city" required>
                  
                </div>
                
                <button type="submit" class="btn btn-warning btn-sm btn-block">Register</button>
              </form>

        </div>
    </div>
</div>



{% endblock body %}

